.site-header {
    background-color: #E4EFE7;
    color: #16423C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    font-family: Arial, sans-serif;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo-title {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo {
    height: 60px;
    width: 60px;
    margin-right: 12px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: #16423C;
    margin: 0;
}

.nav-links ul {
    list-style: none;
    margin-right: 40px;
    padding: 0;
    display: flex;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    color: #16423C;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffffff;
}
